



.app {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-image .3s ease-in-out; /* Smooth transition */
  }
  .content {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    z-index: 1;
    .intro-slider{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      .intro-top{
        width: auto;
        height: auto;
        margin-top: 150px;
        h2{
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }
        h1{
          font-size: 50px;
          font-weight: 700;
          line-height: 60px;
          margin: 20px 0 30px 0;
        }
  
        a{
          button{
            width: 129.03px;
           height: 47px;
           border-radius: 25px ;
           border: none;
           background-color: #22B3C1;
           font-size: 14px;
           line-height: 21px;
           font-weight: 500;
           color: #FFFFFF;
  
  
          }
        }
  
      }
      .intro-bottom{
        width: 80%;
        height: auto;
        display: flex;
        gap:12px;
        justify-content: center;
        align-items: center;
        border-radius: 61px;
        background-color: #FFFFFF;
        margin-bottom: 100px;
      
       
  
  
          .intro-card{
            width: 23%;
            height: 100%;
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;
            
            margin: 30px 0;
  
            .intro-img{
              width: 60px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              
              border: 1px solid #22B3C1;
              border-radius: 50%;
              i{
                font-size: 30px;
                color: #22B3C1;
              }
            }
            .intro-text{
              width: 50%;
              height: auto;
              line-height: 28px;
              text-align: start;
              p{
                font-size: 15px;
                font-weight: 400;
               
                color: #AFAFAF;
              }
              h3{
                font-size: 20px;
                font-weight: 700;
                color: #22B3C1;
                
              }
            }
            a{
              button{
               padding: 13px 30.65px 14px 31px;
               border-radius: 25px;
               color: #FFFFFF;
               background-color: #22B3C1;
               border: none;          
              }
              
     
     
             }
          }
        
  
        }
       
          // width: 20%;
         
        }
      }
    }
  

@media screen  and (max-width:320px){

  .app {
    max-width: 100%;
    height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 97%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:12px;
          justify-content: center;
          align-items: center;
          border-radius: 23px;
          background-color: #FFFFFF;
          margin-bottom: 10px;
          
        
         
    
    
            .intro-card{
              width: 45%;
              height: 100%;
              display: flex;
          
              justify-content: start;
              align-items: center;
              margin: 10px 0;

    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 75%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
                
                p{
                  font-size: 12px;
                 
                }
                h3{
                  font-size: 14px;
                 
                }
              }
              a{
                button{
                 padding: 13px 30.65px 14px 30px;
                 border-radius: 25px;
                 color: #FFFFFF;
                 background-color: #22B3C1;
                 border: none;          
                }
                
       
       
               }
            }
            
    
          }
      }
    }
  
  }
}
@media screen  and (min-width:321px) and (max-width:480px) {
  .app {
    max-width: 100%;
    height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 97%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:12px;
          // justify-content: center;
          // align-items: center;
          border-radius: 23px;
          background-color: #FFFFFF;
          margin-bottom: 10px;
          
        
         
    
    
            .intro-card{
              width: 44%;
              height: 100%;
              display: flex;
              gap: 10px;
              justify-content: start;
              align-items: center;
              margin: 10px 0;
        


    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 75%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
                
                p{
                  font-size: 12px;
                 
                }
                h3{
                  font-size: 14px;
                 
                }
              }
              a{
               
                button{
                 padding: 13px 30.65px 14px 30px;
                 border-radius: 25px;
                 color: #FFFFFF;
                 background-color: #22B3C1;
                 border: none;  
                         
                }
                
       
       
               }
            }
            
    
          }
      }
    }
  
  }
  
}
@media screen  and (min-width:481px) and (max-width:768px) {
  .app {
    max-width: 100%;
    height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 90%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:15px;
          justify-content: center;
          align-items: center;
          border-radius: 23px;
          background-color: #FFFFFF;
          margin-bottom: 10px;
          
        
         
    
    
            .intro-card{
              width: 40%;
              height: 100%;
              display: flex;
              gap: 5px;
              justify-content: center;
              align-items: center;
              margin: 10px 0;
            
              
    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 50%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
              
            
                
                p{
                  font-size: 12px;
                 
                }
                h3{
                  font-size: 14px;
                 
                }
              }
            }
            a{
              button{
               padding: 13px 30.65px 14px 30px;
               border-radius: 25px;
               color: #FFFFFF;
               background-color: #22B3C1;
               border: none;          
              }
              
     
     
             }
    
          }
      }
    }
  
  }
  
}
@media screen  and (min-width:769px) and (max-width:1024px) {
  .app {
    max-width: 100%;
    height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 85%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:12px;
          justify-content: center;
          align-items: center;
          border-radius: 23px;
          background-color: #FFFFFF;
          margin-bottom: 10px;
          
        
         
    
    
            .intro-card{
              width: 25%;
              height: 100%;
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;
              margin: 10px 0;
           
            

    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 60%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
            
                
                p{
                  font-size: 13px;
                 
                }
                h3{
                  font-size: 16px;
                 
                }
              }
            }
            a{
              button{
               padding: 13px 30.65px 14px 30px;
               border-radius: 25px;
               color: #FFFFFF;
               background-color: #22B3C1;
               border: none;          
              }
              
     
     
             }
    
          }
      }
    }
  
  }
  
}
@media screen  and (min-width:1025px) and (max-width:1200px) {
  .app {
    max-width: 100%;
    height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 80%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:0;
          justify-content: center;
          align-items: center;
          border-radius: 23px;
          background-color: #FFFFFF;
          margin-bottom: 10px;
          
        
         
    
    
            .intro-card{
              width: 24%;
              height: 100%;
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;
              margin: 30px 0;
           
            

    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 60%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
            
                
                p{
                  font-size: 13px;
                 
                }
                h3{
                  font-size: 16px;
                 
                }
              }
            }
            a{
              button{
               padding: 13px 30.65px 14px 30px;
               border-radius: 25px;
               color: #FFFFFF;
               background-color: #22B3C1;
               border: none;          
              }
              
     
     
             }
    
          }
      }
    }
  
  }
  
}
@media screen  and (min-width:1201px) and (max-width:1400px) {
  .app {
    max-width: 100%;
    height: 91vh;
    // height: auto;
 
    
    position: relative;

  
    .background {
      position: absolute;
      
    }
    .content {
      width: 100%;
      height: 100%;
     
      .intro-slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .intro-top{
          width: 100%;
          height: auto;
          margin-top: 130px;
          h2{
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
          }
          h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            margin: 16px 0 13px 0;
          }
    
          a{
            button{
              width: 129.03px;
             height: 47px;
             border-radius: 25px ;
             border: none;
             background-color: #22B3C1;
             font-size: 14px;
             line-height: 21px;
             font-weight: 500;
             color: #FFFFFF;
             margin:13px 0 15px 0 ;
    
    
            }
          }
    
        }
        .intro-bottom{
          width: 80%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap:0;
          justify-content: center;
          align-items: center;
          border-radius: 61px;
          background-color: #FFFFFF;
          margin-bottom: 100px;
          
        
         
    
    
            .intro-card{
              width: 24%;
              height: 100%;
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;
              margin:  0;
              padding: 30px 0;
           
            

    
              .intro-img{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #22B3C1;
                border-radius: 50%;
                i{
                  font-size: 22px;
                  color: #22B3C1;
                }
              }
              .intro-text{
                width: 60%;
                height: auto;
                line-height: 28px;
                text-align: start;
                padding:  0 2px;
            
                
                p{
                  font-size: 13px;
                 
                }
                h3{
                  font-size: 16px;
                 
                }
              }
            }
            a{
              button{
               padding: 13px 30.65px 14px 30px;
               border-radius: 25px;
               color: #FFFFFF;
               background-color: #22B3C1;
               border: none;          
              }
              
     
     
             }
    
          }
      }
    }
  
  }
  
}









