.visit-container{
    max-width: 100%;
    .visit{
        width: 80%;
        margin: 0 auto;
        h1{
            width: 40%;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            color: #2A2A2A;
        }
        h6{
            width: 40%;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            color: #AFAFAF;
            margin: 24px 0 85px 0;
        }
        .visit-page{
            width: 100%;
            display: flex;
            gap: 24px;
            
            .visit-page-img{
                width: 30%;
                height: auto;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 23px;
                }

            }
            .visit-page-text{
                width: 60%;
                .text-title{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    .text-subtitle{
                        width: auto;
                        text-align: start;
                        h2{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24px;
                            color: #2A2A2A;
                        }
                        h5{
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 22.5px;
                            color: #AFAFAF;
                            margin-top: 5px;
                        }
                    }
                    a{
                        width: auto;
                        button{
                           padding: 13px 30.65px 14px 31px;
                           background-color: #22B3C1;
                           color: #FFFFFF;
                           border-radius: 25px;
                           border: none;
                           &:hover{
                            transition: all .3s ease;
                            color: #22B3C1;
                            background-color: #FFFFFF;
                            border: 1px solid #22B3C1;
                           }


                        }
                    }
                   
                    

                }
                p{
                    font-size: 15px;
                    font-weight: 400 ;
                    line-height: 30px;
                    color: #AFAFAF;
                    margin: 22px 0 23px 0;
                }
                hr{
                    width: 100%;
                  color:  #AFAFAF;

                }
                .visit-directions{
                    width: 100%;
                 
                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #AFAFAF;
                        margin: 18px 0 ;
                        li{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            i{
                                font-size: 16px;
                                line-height: 16px;
                            }
                           
                        }
                    }
                    a{
                        width: auto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 21px;
                        color: #22B3C1;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        margin-top: 22px;
                        
                    }
                }
            }
        }
        .hr-big{
            width: 92%;
            color: #AFAFAF;
            margin: 30px 0;
        }
    }
}

@media screen and (max-width:320px) {
    
    .visit-container{
        max-width: 100%;
        .visit{
            width: 100%;
            margin: 0 auto;
            padding: 0 5px;
          
            h1{
                width: 100%;
            }
            h6{
                width: 100%;
            }
            .visit-page{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                
                .visit-page-img{
                    width: 100%;
                    height: auto;
                    img{
                        width: 100%;
                       
                    }
    
                }
                .visit-page-text{
                    width: 100%;
                    .text-title{
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: start;
                        .text-subtitle{
                            width: 100%;
                            text-align: start;
                            display: flex;
                          
                          justify-content: space-between;
                          align-items: center;
                          
                            
                            
                            h2{
                                font-size: 20px;
                              
                               
                            }
                            h5{
                                font-size: 15px;
                            }
                        }
                        
                       
                        
    
                    }
                    p{
                        font-size: 15px;
                      
                    }
                    hr{
                        width: 100%;
                      color:  #AFAFAF;
    
                    }
                    .visit-directions{
                        width: 100%;
                     
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: start;
                            gap: 15px;
                            align-items: center;
                            color: #AFAFAF;
                            margin: 18px 0 ;
                            li{
                                font-size: 14px;
                                
                                i{
                                    font-size: 14px;
                                    line-height: 16px;
                                }
                               
                            }
                        }
                        a{
                            width: auto;
                            font-size: 14px;
                           
                            
                        }
                    }
                }
            }
            .hr-big{
                width: 92%;
                color: #AFAFAF;
                margin: 30px 0;
            }
        }
    }
}
@media screen and (min-width:321px) and (max-width:480px) {
    
    .visit-container{
        max-width: 100%;
        .visit{
            width: 100%;
            margin: 0 auto;
            padding: 0 5px;
          
            h1{
                width: 100%;
            }
            h6{
                width: 100%;
            }
            .visit-page{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                
                .visit-page-img{
                    width: 95%;
                    height: auto;
                    margin: 0 auto;
                    img{
                        width: 100%;
                       
                    }
    
                }
                .visit-page-text{
                    width: 95%;
                    margin: 0 auto;
                    .text-title{
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: start;
                        .text-subtitle{
                            width: 100%;
                            text-align: start;
                            display: flex;
                          
                          justify-content: space-between;
                          align-items: center;
                          
                            
                            
                            h2{
                                font-size: 20px;
                              
                               
                            }
                            h5{
                                font-size: 15px;
                            }
                        }
                        
                       
                        
    
                    }
                    p{
                        font-size: 15px;
                      
                    }
                    hr{
                        width: 100%;
                      color:  #AFAFAF;
    
                    }
                    .visit-directions{
                        width: 100%;
                     
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: start;
                            gap: 20px;
                            align-items: center;
                            color: #AFAFAF;
                            margin: 18px 0 ;
                            li{
                                font-size: 14px;
                                
                                
                                i{
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                               
                            }
                        }
                        a{
                            width: auto;
                            font-size: 14px;

                           
                            
                        }
                    }
                }
            }
            .hr-big{
                width: 100%;
                color: #AFAFAF;
                margin: 30px 0;
               
            }
        }
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    
    .visit-container{
        max-width: 100%;
        .visit{
            width: 100%;
            margin: 0 auto;
            padding: 0 5px;
            h1{
                width: 90%;
                margin: 0 auto;
            }
            h6{
                width: 90%;
                margin: 20px auto 85px;
            }
            .visit-page{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                
                .visit-page-img{
                    width: 90%;
                    height: auto;
                    margin: 0 auto;
                    img{
                        width: 100%;
                       
                    }
    
                }
                .visit-page-text{
                    width: 90%;
                    margin: 0 auto;
                    .text-title{
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: start;
                        .text-subtitle{
                            width: 40%;
                            text-align: start;
                            display: block;
                          
                            
                            
                            h2{
                                font-size: 20px;
                              
                               
                            }
                            h5{
                                font-size: 15px;
                            }
                        }
                        
                       
                        
    
                    }
                    p{
                        font-size: 15px;
                      
                    }
                    hr{
                        width: 100%;
                      color:  #AFAFAF;
    
                    }
                    .visit-directions{
                        width: 100%;
                     
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: start;
                            gap: 20px;
                            align-items: center;
                            color: #AFAFAF;
                            margin: 18px 0 ;
                            li{
                                font-size: 14px;
                                
                                
                                i{
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                               
                            }
                        }
                        a{
                            width: auto;
                            font-size: 14px;

                           
                            
                        }
                    }
                }
            }
            .hr-big{
                width: 90%;
                color: #AFAFAF;
                margin: 30px auto;
               
            }
        }
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    
    .visit-container{
        max-width: 100%;
        .visit{
            width: 95%;
            margin: 0 auto;
            padding: 0 5px;
            h1{
                width: 100%;
            }
            h6{
                width: 90%;
            }
            .visit-page{
                width: 100%;
                display: flex;
              
                gap: 20px;
                
                .visit-page-img{
                    width: 35%;
                    height: auto;
                    margin: 0 auto;
                    img{
                        width: 100%;
                       
                    }
    
                }
                .visit-page-text{
                    width: 65%;
                    margin: 0 auto;
                    .text-title{
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: start;
                        .text-subtitle{
                            width: 40%;
                            text-align: start;
                            display: block;
                          
                            
                            
                            h2{
                                font-size: 20px;
                              
                               
                            }
                            h5{
                                font-size: 15px;
                            }
                        }
                        
                       
                        
    
                    }
                    p{
                        font-size: 15px;
                      
                    }
                    hr{
                        width: 100%;
                      color:  #AFAFAF;
    
                    }
                    .visit-directions{
                        width: 100%;
                     
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            color: #AFAFAF;
                            margin: 18px 0 ;
                            li{
                                font-size: 14px;
                                
                                
                                i{
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                               
                            }
                        }
                        a{
                            width: auto;
                            font-size: 14px;

                           
                            
                        }
                    }
                }
            }
            .hr-big{
                width: 100%;
                color: #AFAFAF;
                margin: 30px auto;
               
            }
        }
    }
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    
    .visit-container{
        max-width: 100%;
        .visit{
            width: 80%;
            margin: 0 auto;
            padding: 0 5px;
            h1{
                width: 40%;
            }
            h6{
                width: 80%;
            }
            .visit-page{
                width: 100%;
                display: flex;
              
                gap: 20px;
                
                .visit-page-img{
                    width: 35%;
                    height: auto;
                    margin: 0 auto;
                    img{
                        width: 100%;
                       
                    }
    
                }
                .visit-page-text{
                    width: 65%;
                    margin: 0 auto;
                    .text-title{
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: start;
                        .text-subtitle{
                            width: 40%;
                            text-align: start;
                            display: block;
                          
                            
                            
                            h2{
                                font-size: 20px;
                              
                               
                            }
                            h5{
                                font-size: 15px;
                            }
                        }
                        
                       
                        
    
                    }
                    p{
                        font-size: 15px;
                      
                    }
                    hr{
                        width: 100%;
                      color:  #AFAFAF;
    
                    }
                    .visit-directions{
                        width: 100%;
                     
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            color: #AFAFAF;
                            margin: 18px 0 ;
                            li{
                                font-size: 14px;
                                
                                
                                i{
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                               
                            }
                        }
                        a{
                            width: auto;
                            font-size: 14px;

                           
                            
                        }
                    }
                }
            }
            .hr-big{
                width: 100%;
                color: #AFAFAF;
                margin: 30px auto;
               
            }
        }
    }
}
